<h1 style = "margin-top: -14px;">PIP Matter No. <%= @pip.id %></h1>
<div>
  <div id = "form-control-bar" class = "basic-icon-bar">
    <% if can? :read, PipMatter %>
      <div>
	    <%= link_to image_tag("back_button_icon.png", title: "Back to Index", alt: "Back to Index"),
	    pip_matters_path %>
      </div>
    <% end %>
    <% if can? :update, PipMatter %>
      <div id = "control-two">  
	    <%= link_to image_tag("edit_button_icon.png", title: "Edit PIP Matter", alt: "Edit PIP Matter"),
	    '#EditPIP', onclick: onClick="SwitchOneAndTwo(); return false;"; %>   
      </div>
    <% end %>
    <% if can? :delete, PipMatter %>
      <div>
	    <%= link_to image_tag("delete_button_icon.png", title: "Delete PIP Matter", alt: "Delete PIP Matter"),
	    pip_matter_path(@pip), method: :delete, data: { confirm: 'Are you sure you wish to delete this PIP Matter?' } %>
      </div>
    <% end %>
    <% unless @pip.case_no.to_s.empty? %>
      <div id = "control-four">
	    <%= link_to image_tag("docket_button_icon.png", title: "Show/Hide Docket", alt: "Show/Hide Docket"),
	    '#ShowDocket', onclick: onClick="SlideOutThree(); return false;"; %>
      </div>
    <% else %>
      <div style = "vertical-align: top;">
      </div>
    <% end %>
    <% if can? :read, PipDemand %>
      <div id = "control-five">
        <%= link_to image_tag("demand_button_icon.png", title: "Show PIP Demands", alt: "Show PIP Demands"),
        '#ShowPIPDemands', onclick: onClick="SlideOutFourOrSwitchForFive(); return false;"; %>
	  </div>
    <% end %>
    <% if can? :read, PipCheck %>
      <div id = "control-six">
        <%= link_to image_tag("payment_button_icon.png", title: "Show PIP Checks", alt: "Show PIP Checks"),
        '#ShowPIPChecks', onclick: onClick="SlideOutSixOrSwitchForSeven(); return false;"; %>
	  </div>
    <% end %>
    <% if can? :read, Note %>
      <div id = "control-seven">
        <%= link_to image_tag("note_button_icon.png", title: "Show Notes", alt: "Show Notes"),
        '#ShowNotes', onclick: onClick="SlideOutEightOrSwitchForNine(); return false;"; %>
	  </div>
    <% end %>
    <% if can? :read, Task %>
      <div id = "control-eight">
        <%= link_to image_tag("task_button_icon.png", title: "Show Tasks", alt: "Show Tasks"),
        '#ShowTasks', onclick: onClick="SlideOutTenOrSwitchForEleven(); return false;"; %>
	  </div>
    <% end %>
    <div id = "control-nine">
      <%= link_to image_tag("open_folder_button_icon.png", title: "Show Files", alt: "Show Files"),
      '#ShowFiles', onclick: onClick="SlideOutTwelve(); return false;"; %>
    </div>
    <div id = "control-ten">
      <%= link_to image_tag("build_button_icon.png", title: "Show Document Creator", alt: "Show Document Creator"),
      '#ShowDocCreator', onclick: onClick="SlideOutThirteen(); return false;"; %>
    </div>
    <table class = "data-counter">
      <tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td><%= @docket_count %></td>
	    <% if can? :read, PipDemand %>
	      <td>(<%= @pip.pip_demands.count %>)</td>
	    <% end %>
	    <% if can? :read, PipDemand %>
	      <td>(<%= @pip.pip_checks.count %>)</td>
	    <% end %>
	    <% if can? :read, Note %>
	      <td>(<%= @pip.notes.count %>)</td>
	    <% end %>
	    <% if can? :read, Task %>
	      <td>(<%= @pip.tasks.count %>)</td>
	    <% end %>
	    <td><%= @file_count %></td>
	    <td></td>
      </tr>
    </table>
  </div>
  <div class = "sliding-plate">
    <div id = "plate-one">
      <%= render 'details' %>
    </div>
    <div id = "plate-two" style = "display: block; height: 0; margin-left: 380px; opacity: 0; width: 0;">
      <div>
        <h2>- Edit PIP Matter -</h2>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-three" style = "height: 0; opacity: 0; width: 0;">
    <%= render 'docket' %>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-four" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, PipMatter %>
          <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close PIP Demands", alt: "Close PIP Demands"),
            '#ClosePIPDemands', onclick: onClick="SlideOutFourOrSwitchForFive(); return false;"; %>
          </div>
	    <% end %>
        <% if can? :create, PipDemand %>
	      <div>
	        <%= link_to image_tag("add_button_icon.png", title: "Add PIP Demand", alt: "Add PIP Demand"),
	        '#AddPIPDemand', onclick: onClick="SlideOutFiveOrSwitchForFour(); return false;"; %>
	      </div>
	    <% end %>
      </div>
      <h2>- PIP Demands (<%= @pip.pip_demands.count %>)-</h2>
      <%= render @pip.pip_demands.sort %>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-five" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, PipMatter %>
          <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close PIP Demands", alt: "Close PIP Demands"),
            '#ClosePIPDemands', onclick: onClick="SlideOutFiveOrSwitchForFour(); return false;"; %>
          </div>
	    <% end %>
        <% if can? :read, PipDemand %>
          <div>
            <%= link_to image_tag("demand_button_icon.png", title: "Show PIP Demands", alt: "Show PIP Demands"),
            '#ShowPIPDemand', onclick: onClick="SlideOutFourOrSwitchForFive(); return false;"; %>
          </div>
        <% end %>
      </div>
      <h2>- Add a PIP Demand -</h2>
      <%= render "pip_demands/form" %>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-six" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, PipMatter %>
          <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close PIP Checks", alt: "Close PIP Checks"),
            '#ClosePIPChecks', onclick: onClick="SlideOutSixOrSwitchForSeven(); return false;"; %>
          </div>
        <% end %>
        <% if can? :create, PipCheck %>
          <div>
	        <%= link_to image_tag("add_button_icon.png", title: "Add PIP Check", alt: "Add PIP Check"),
            '#AddPIPDemand', onclick: onClick="SlideOutSevenOrSwitchForSix(); return false;"; %>
          </div>
        <% end %>
      </div>
      <div>
        <h2>- Checks (<%= @pip.pip_checks.count %>)-</h2>
        <%= render @pip.pip_checks.sort %>
      </div>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-seven" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, PipMatter %>
          <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close PIP Checks", alt: "Close PIP Checks"),
            '#ClosePIPChecks', onclick: onClick="SlideOutSevenOrSwitchForSix(); return false;"; %>
          </div>
        <% end %>
        <% if can? :read, PipCheck %>
          <div>
		    <%= link_to image_tag("payment_button_icon.png", title: "Show PIP Checks", alt: "Show PIP Checks"),
		    '#ShowPIPCheck', onclick: onClick="SlideOutSixOrSwitchForSeven(); return false;"; %>
	      </div>
	    <% end %>
      </div>
      <h2>- Add a Check -</h2>
      <%= render "pip_checks/form" %>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-eight" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, PipMatter %>
          <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close Notes", alt: "Close Notes"),
            '#CloseNotes', onclick: onClick="SlideOutEightOrSwitchForNine(); return false;"; %>
          </div>
        <% end %>
        <% if can? :create, Note %>
	      <div>
	        <%= link_to image_tag("add_button_icon.png", title: "Add Note", alt: "Add Note"),
	        '#AddNote', onclick: onClick="SlideOutNineOrSwitchForEight(); return false;"; %>
	      </div>
        <% end %>
      </div>
      <h2>- Notes (<%= @pip.notes.count %>)-</h2>
      <%= render @pip.notes.order('notes.updated_at DESC') %>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-nine" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, PipMatter %>
          <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close Notes", alt: "Close Notes"),
            '#CloseNotes', onclick: onClick="SlideOutNineOrSwitchForEight(); return false;"; %>
          </div>
        <% end %>
        <% if can? :read, Note %>
	      <div>
	        <%= link_to image_tag("note_button_icon.png", title: "Show Notes", alt: "Show Notes"),
	        '#ShowNotes', onclick: onClick="SlideOutEightOrSwitchForNine(); return false;"; %>
	      </div>
        <% end %>
      </div>
      <h2>- Add a Note -</h2>
      <%= render "notes/form" %>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-ten" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, PipMatter %>
          <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close Tasks", alt: "Close Tasks"),
            '#CloseTasks', onclick: onClick="SlideOutTenOrSwitchForEleven(); return false;"; %>
          </div>
        <% end %>
        <% if can? :create, Task %>
          <div>
	        <%= link_to image_tag("add_button_icon.png", title: "Add To Do", alt: "Add To Do"),
            '#AddToDo', onclick: onClick="SlideOutElevenOrSwitchForTen(); return false;"; %>
          </div>
        <% end %>
      </div>
      <h2>- Tasks (<%= @pip.tasks.count %>)-</h2>
      <%= render @pip.tasks.order('tasks.updated_at DESC') %>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-eleven" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, PipMatter %>
          <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close Tasks", alt: "Close Tasks"),
            '#CloseTasks', onclick: onClick="SlideOutElevenOrSwitchForTen(); return false;"; %>
          </div>
        <% end %>
        <% if can? :read, Task %>
          <div>
		    <%= link_to image_tag("task_button_icon.png", title: "Show Tasks", alt: "Show Tasks"),
		    '#ShowTasks', onclick: onClick="SlideOutTenOrSwitchForEleven(); return false;"; %>
	      </div>
	    <% end %>
      </div>
      <h2>- Add A Task -</h2>
      <%= render "tasks/matter_form" %>
    </div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-twelve" style = "height: 0; opacity: 0; width: 0;">
    <%= render 'file_manager' %>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-thirteen" style = "height: 0; opacity: 0; width: 0;">
    <%= render 'doc_creator' %>
  </div>
</div>
