<% if user_signed_in? && (current_user.id == @task.created_by || @task.created_by == nil) %>
  <%= form_for @task do |f| %>
    <% if @task.errors.any? %>
      <div id = "error-explanation">
	    <h4><%= pluralize(@task.errors.count, "Error") %> Prohibited Task From Being Saved:</h4>
	    <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg.titleize %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class = "basic-form">
      <%= render "tasks/fieldsets", f:f %>
    </div>  
    <div class = "basic-form-save-button">
	  <%= image_submit_tag("save_button_icon.png", :title => "Save Task", :alt => "Save Task") %>
    </div>
  <% end %>
<% elsif user_signed_in? && current_user.id == @task.assigned_to %>
  <%= form_for @task do |f| %>
    <div class = "basic-form">
      <fieldset>
	    <div>
		  <%= f.label :status, "Status:" %>
		  <br>
		  <%= f.select :status, options_for_select(["Pending", "Complete"], :selected => f.object.status),
		    {:prompt => "Select"}, :style => "width:250px;" %>
	    </div>
      </fieldset>
    </div>  
    <div class = "basic-form-save-button">
	  <%= image_submit_tag("save_button_icon.png", :title => "Save Task", :alt => "Save Task") %>
    </div>
  <% end %>
<% else %>
  <h4 style = "text-align: center;">You Do Not Have Permission To Edit This Task.</h4>
<% end %>
