<h1>Templates</h1>
<div>
  <div id = "simple-control-bar" class = "basic-icon-bar">  
    <% if can? :create, Template %>
      <div>
        <%= link_to image_tag("add_button_icon.png", title: "Add New Template", alt: "Add New Template"), new_template_path %>
      </div>
    <% end %>
  </div>
  <div class = "sliding-plate">
    <div id = "plate-one">
      <div>
        <div class = "basic-search-form">
          <%= form_tag users_path, :method => :get do %>
	        <div class = "basic-search-bar">  
	          <div style = "width: 238px;">
	            <%= label_tag :search, "Search:" %>
	            <br>
	            <%= text_field_tag :search, params[:search] %>
	          </div>
	          <div class = "basic-search-submit-button">
	            <%= image_submit_tag("search_button_icon.png", alt: "Search", title: "Search", name: nil) %>
	          </div>
	        </div>
	        <div class = "per-page-control-div">
	          <%= form_tag users_path, method: :get do %>
		        <%= "Per Page:" %>
		        <br>
		        <%= select_tag :limit, options_for_select([10, 25, 50, 100, ["All", 100000]], selected: params[:limit] || 10) %>
		        <div class = "small-random-button" style = "display: inline-block;">
		          <%= image_submit_tag("small_reset_button_icon.png", alt: "Re", title: "Reload") %>
		        </div>
	          <% end -%>
            </div>
          <% end %>
        </div>
        <table class = "index-table">
          <% if @templates.count > 0 %>
	        <tr>
	          <th>Template Name</th>
	          <th>Type</th>
	          <th>Creator</th>
	          <% if can? :update, Template %>
		        <th></th>
	          <% end %>
	          <% if can? :destroy, Template %>
		        <th></th>
	          <% end %>
	        </tr>
          <% else %>
	        <div style = "padding: 12px;">
            </div>
          <% end %>
          <% @templates.sort.each do |tmpl| %>
	        <tr>
	          <td><%= link_to tmpl.name, tmpl %></td>
	          <td><%= link_to tmpl.template_type, tmpl, :class => "table-hyperlink" %></td>
	          <td><%= link_to tmpl.user_id, tmpl, :class => "table-hyperlink" %></td>
	          <% if can? :update, Template %>
		        <td align="center" style = "padding-bottom: 0; padding-top: 4px; width: 20px;"><%= link_to image_tag("edit_button_icon.png", alt: "Edit", title: "Edit", style: "width:16px; height: 16px;"), edit_template_path(tmpl) %></td>
	          <% end %>
	          <% if can? :delete, Template %>
		        <td align="center" style = "padding-bottom: 0; padding-top: 4px; width: 20px;"><%= link_to image_tag("delete_button_icon.png", alt: "Del.", title: "Delete", style: "width:16px; height: 16px;"), template_path(tmpl), method: :delete, data: { confirm: 'Are you sure you wish to delete this record?' } %></td>
	          <% end %>
	        </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>	
