<%= form_for ([@pip, @pip.pip_demands.build]) do |f| %>
  <% if @pip.errors.any? %>
    <div id = "errorExplanation">
	  <h2><%= pluralize(@pip.errors.count, "Error") %> Prohibited Demand From Being Saved:</h2>
	  <ul>
      <% @pip.errors.full_messages.each do |msg| %>
        <li><%= msg.titleize.titleize %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "basic-form">
    <%= render "pip_demands/fieldsets", f:f %>
  </div>
  <div class = "basic-form-save-button">
	<%= image_submit_tag("save_button_icon.png", :title => "Save PIP Demand", :alt => "Save PIP Demand") %>
  </div>
<% end %>
