<script type="text/javascript">
<!--
function ShowEditJob<%=job.id%>DIV() {
	var edit = edit_job<%=job.id%>_div
	var show = show_job<%=job.id%>_div
	if (edit.style.display=="none")
		edit.style.display="block",
		show.style.display="none";
	else
		edit.style.display="none",
		show.style.display="block";
}
//-->
</script>
<div id = "show_job<%=job.id%>_div" class = "sub-item-form">
  <div class = "sub-item-form-title">
    <div>
      <h3>Job</h3>
    </div>
    <div class = "mini-icon-bar">
	  <% if can? :update, Job %>
	    <div>
		  <%= link_to image_tag("mini_edit_button_icon.png", title: "Edit Job", alt: "Edit Job"),
		  '#EditJob', onclick: onClick="ShowEditJob#{job.id}DIV(); return false;"; %>
	    </div>
      <% end %>
      <% if can? :delete, Job %>
	    <div>
		  <%= link_to image_tag("mini_delete_button_icon.png", title: "Delete Job", alt: "Delete Job"),
		  [job.client, job], method: :delete, data: { confirm: 'Are you sure you want to permanently delete this record?' } %>
	    </div>
      <% end %>
    </div>
  </div>
  <h4>Employment Data</h4>
  <table>
    <% unless job.employer.blank? %>
      <tr>
        <td>Employer</td>
        <td><%= job.employer %></td>
      </tr>
    <% end %>
    <% unless job.address_line_one.blank? %>
      <tr>
        <td>Employer's Address:</td>
        <td>
          <%= job.address_line_one %>
          <br>
          <%= job.address_line_two %>
          <br>
          <%= job.address_line_three %>
        </td>
      </tr>
    <% end %>
    <% unless job.city.blank? %>
      <tr>
	    <td>City:</td>
        <td><%= job.city %></td>
      </tr>
    <% end %>
    <% unless job.state.blank? %>
      <tr>
	    <td>State:</td>
        <td><%= job.state %></td>
      </tr>
    <% end %>
    <% unless job.zip_code.blank? %>
      <tr>
	    <td>ZIP Code:</td>
        <td>
          <%= job.zip_code %>
          <% unless job.plus_four_code.blank? %>
            - <%= job.plus_four_code %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% unless job.position.blank? %>
      <tr>
	    <td>Position:</td>
        <td><%= job.position %></td>
      </tr>
    <% end %>
    <% unless job.employment_length.blank? %>
      <tr>
	    <td>Employment Length:</td>
        <td><%= job.employment_length %></td>
      </tr>
    <% end %>
    <% unless job.payment_cycle.blank? %>
      <tr>
	    <td>Payment Cycle:</td>
        <td><%= job.payment_cycle %></td>
      </tr>
    <% end %>
    <% unless job.gross_earnings.blank? %>
      <tr>
	    <td>Gross Earnings:</td>
        <td><%= number_to_currency(job.gross_earnings) %></td>
      </tr>
    <% end %>
    <% unless job.net_earnings.blank? %>
      <tr>
	    <td>Net Earnings:</td>
        <td><%= number_to_currency(job.net_earnings) %></td>
      </tr>
    <% end %>
  </table>
</div>
<div id = "edit_job<%=job.id%>_div" class = "sub-item-form" style = "display: none;">
  <div class = "sub-item-form-title">  
    <div>
      <h3>Edit Employment Data</h3>
    </div>
    <div class = "mini-icon-bar">
      <% if can? :read, Job %>
        <div>
	      <%= link_to image_tag("mini_show_button_icon.png", title: "Show Job", alt: "Show Job"),
	      '#ShowJob', onclick: onClick="ShowEditJob#{job.id}DIV(); return false;"; %>
        </div>
	  <% end %>
	  <% if can? :delete, Job %>
        <div>
	      <%= link_to image_tag("mini_delete_button_icon.png", title: "Delete Job", alt: "Delete Job"),
	      [job.client, job], method: :delete, data: { confirm: 'Are you sure you want to permanently delete this record?' } %>
        </div>
	  <% end %>
    </div>
  </div>
  <%= form_for ([@client, job]) do |f| %>
    <div class = "basic-form">
      <%= render "jobs/fieldsets", f:f %>
    </div>
    <div class = "basic-form-save-button">
	  <%= image_submit_tag("save_button_icon.png", :title => "Save Job", :alt => "Save Job") %>
    </div>
  <% end %>
</div>
