<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
    <div id = "error-explanation">
	  <h2><%= pluralize(@client.errors.count, "Error") %> Prohibited Client From Being Saved:</h2>
	  <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg.titleize %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "basic-form">
    <%= render "basic_fieldsets", f:f %>
    <fieldset>
      <legend>E-Mail Addresses</legend>
      <div>  
        <div>  
          <%= f.fields_for :email_addresses do |builder| %>
            <div style = "display: inline-block;">
              <%= builder.label :address_type, "E-Mail Address:" %>
              <br>
              <%= builder.text_field :address, :style => "width: 252px" %>
            </div>
            <div style = "display: inline-block;">
              <%= builder.label :extension, "Type:" %>
              <br>
              <%= builder.select :address_type, options_for_select(["Personal", "Work", "Other"],
              builder.object.address_type), {:prompt => "Select"}, {:style => "width: 92px;"} %>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>
    <div class = "basic-form-save-button">
      <%= image_submit_tag("save_button_icon.png", :title => "Save Client", :alt => "Save Client") %>
    </div>
  </div>
<% end %>
