<script type="text/javascript">
<!--
function AddPhoneDIV() {
	var add = add_phone_div
	if (add.style.display=="none")
		add.style.display="block";
	else
		add.style.display="none";
}
//-->
</script>
<div class = "mini-icon-bar" style = "margin: 4px 0; text-align: center; width: 100px;">
  <% if can? :create, PhoneNumber %>
	<div>  
	  <%= link_to link_to image_tag("mini_add_button_icon.png", title: "Add Phone Number", alt: "Add Phone Number"),
	  '#AddPhone', onclick: onClick="AddPhoneDIV(); return false;"; %>    
	</div>
	Phone
  <% end %>
</div>
<div id = "add_phone_div" class = "poly-sub-item-form" style = "display: none;">
  <div class = "sub-item-form-title">  
    <div>
	  <h3Add Phone Number/h3>
    </div>
    <div class = "mini-icon-bar">
      <% if can? :read, PhoneNumber %>
        <div>  
          <%= link_to link_to image_tag("mini_delete_button_icon.png", title: "Cancel Add Phone Number", alt: "Cancel Add Phone Number"),
          '#AddPhone', onclick: onClick="AddPhoneDIV(); return false;"; %>
        </div>
      <% end %>
    </div>
  </div>
  <%= form_for ([@able, PhoneNumber.new]) do |f| %>
    <div class = "basic-form">
      <%= render "phone_numbers/fieldsets", f:f %>  
    </div>
    <div class = "basic-form-save-button">
      <%= image_submit_tag("save_button_icon.png", :title => "Save Phone Number", :alt => "Save Phone Number") %>
    </div>
  <% end %>
  <p>
    <br>
  </p>
</div>
