<%= form_for ([@pip, @pip.pip_checks.build]) do |f| %>
  <% if @pip.errors.any? %>
    <div id = "errorExplanation">
	  <h2><%= pluralize(@pip.errors.count, "error") %> prohibited this PIP Check from being saved:</h2>
	  <ul>
      <% @pip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "basic-form">
    <%= render "pip_checks/fieldsets", f:f %>
  </div>  
  <div class = "basic-form-save-button">
	<%= image_submit_tag("save_button_icon.png", :title => "Save Check", :alt => "Save Check") %>
  </div>
<% end %>
