<script type="text/javascript">
<!--
function ShowEditPIPCheck<%=pip_check.id%>DIV() {
	var edit = edit_pip_check<%=pip_check.id%>_div
	var show = show_pip_check<%=pip_check.id%>_div
	if (edit.style.display=="none")
		show.style.display="none",
		edit.style.display="block";
	else
		show.style.display="block",
		edit.style.display="none";
}
//-->
</script>
<div id = "show_pip_check<%= pip_check.id %>_div" class = "sub-item-form">
  <div class = "sub-item-form-title">
    <div>
      <h3>
        <% if pip_check.check_no != nil %>
          - Check No. <%= pip_check.check_no %> -
        <% else %>
          - Check ID <%= pip_check.id %> -
        <% end %>
      </h3>
    </div>
    <div class = "mini-icon-bar">
	  <% if can? :update, PipCheck %>
	    <div>
		  <%= link_to image_tag("mini_edit_button_icon.png", title: "Edit Check", alt: "Edit Check"),
		  '#EditCheck', onclick: onClick="ShowEditPIPCheck#{pip_check.id}DIV(); return false;"; %>
	    </div>
      <% end %>
      <% if can? :delete, PipCheck %>
	    <div>
		  <%= link_to image_tag("mini_delete_button_icon.png", title: "Delete PIP Check", alt: "Delete PIP Check"),
		  pip_matter_pip_check_path(@pip, pip_check), method: :delete, data: { confirm: 'Are you sure you want to permanently delete this record?' } %>
	    </div>
      <% end %>
    </div>
  </div>
  <table>
    <tr>
      <td>Purpose of Check:</td>
	  <td><%= pip_check.purpose_of_check %></td>
    </tr>
    <% unless pip_check.date_of_issue.blank? %>
      <tr>
	    <td>Date of Issue:</td>
        <td><%= pip_check.date_of_issue.strftime("%F") %></td>
      </tr>
    <% end %>
    <% unless pip_check.total_amount.blank? %>
      <tr>
        <td>Total Check Amount:</td>
        <td><%= number_to_currency(pip_check.total_amount) %></td>
      </tr>
    <% else %>
      <tr>
        <td>Check Amount:</td>
        <td><%= "$0.00" %></td>
      </tr>
    <% end %>
    <% unless pip_check.benefits.blank? %>
      <tr>
        <td>Portion in Benefits:</td>
        <td><%= number_to_currency(pip_check.benefits) %></td>
      </tr>
    <% end %>
    <% unless pip_check.interest.blank? %>
      <tr>
        <td>Portion in Interest:</td>
        <td><%= number_to_currency(pip_check.interest) %></td>
      </tr>
    <% end %>
    <% unless pip_check.penalty.blank? %>
      <tr>
        <td>Portion in Penalty:</td>
        <td><%= number_to_currency(pip_check.penalty) %></td>
      </tr>
    <% end %>
    <% unless pip_check.postage.blank? %>
      <tr>
        <td>Portion in Postage:</td>
        <td><%= number_to_currency(pip_check.postage) %></td>
      </tr>
    <% end %>
    <% unless pip_check.attorneys_fees.blank? %>
      <tr>
        <td>Portion in Attorney's Fees:</td>
        <td><%= number_to_currency(pip_check.attorneys_fees) %></td>
      </tr>
    <% end %>
    <% unless pip_check.include_check_in_suit %>
      <tr>
        <td colspan="2">Do Not Include Check in Suit</td>
      </tr>
    <% end %>
    <% unless pip_check.status.blank? %>
      <tr>
        <td>Status:</td>
        <td><%= pip_check.status %></td>
      </tr>
    <% end %>
  </table>
</div>
<div id = "edit_pip_check<%= pip_check.id %>_div" class = "sub-item-form" style = "display: none;">
  <div class = "sub-item-form-title">
    <div>
      <h3>
        <% if pip_check.check_no != nil %>
          - Edit Check No. <%= pip_check.check_no %> -
        <% else %>
          - Edit Check ID <%= pip_check.id %> -
        <% end %>
      </h3>
    </div>
    <div class = "mini-icon-bar">
	  <% if can? :read, PipCheck %>
	    <div>
		  <%= link_to image_tag("mini_show_button_icon.png", title: "Show Check", alt: "Show Check"),
		  '#ShowCheck', onclick: onClick="ShowEditPIPCheck#{pip_check.id}DIV(); return false;"; %>
	    </div>
      <% end %>
      <% if can? :delete, PipCheck %>
	    <div>
		  <%= link_to image_tag("mini_delete_button_icon.png", title: "Delete PIP Check", alt: "Delete PIP Check"),
		  pip_matter_pip_check_path(@pip, pip_check), method: :delete, data: { confirm: 'Are you sure you want to permanently delete this record?' } %>
	    </div>
      <% end %>
    </div>
  </div>
  <%= form_for [@pip, pip_check] do |f| %>
    <div class = "basic-form">
      <%= render "pip_checks/fieldsets", f:f %>
    </div>  
    <div class = "basic-form-save-button">
	  <%= image_submit_tag("save_button_icon.png", :title => "Save Check", :alt => "Save Check") %>
    </div>
  <% end %>
</div>
