<script type="text/javascript">
<!--
function ShowEditAddress<%=address.id%>DIV() {
	var edit = edit_add<%=address.id%>_div
	var show = show_add<%=address.id%>_div
	if (edit.style.display=="none")
		show.style.display="none",
		edit.style.display="block";
	else
		show.style.display="block",
		edit.style.display="none";
}
//-->
</script>
<div id = "show_add<%= address.id %>_div" class = "sub-item-form">
  <div class = "sub-item-form-title">
    <div>
	  <h3><%= address.address_type %> Address</h3>
    </div>
    <div class = "mini-icon-bar">
      <% if can? :update, Address %>
        <div>  
          <%= link_to link_to image_tag("mini_edit_button_icon.png", title: "Edit Address", alt: "Edit Address"),
          '#EditAddress', onclick: onClick="ShowEditAddress#{address.id}DIV(); return false;"; %>    
        </div>
      <% end %>
      <% if can? :delete, Address %>
        <div>
          <%= link_to link_to image_tag("mini_delete_button_icon.png", title: "Delete Address", alt: "Delete Address"),
          {:controller => "addresses", :action => "destroy", :id => address.id, method: :delete}, data: { confirm: 'Are you sure you wish to delete this Address?' } %>
        </div>
      <% end %>
    </div>
  </div>
  <table>
    <tr>
      <td>Address:</td>
      <td>
        <%= address.address_line_one %>
        <br>
        <%= address.address_line_two %>
        <br>
        <%= address.address_line_three %>
      </td>
    </tr>
    <tr>
      <td>City:</td>
      <td><%= address.city %></td>
    </tr>
    <tr>
      <td>State:</td>
      <td><%= address.state %></td>
    </tr>
    <tr>
      <td>ZIP Code:</td>
      <td>
        <%= address.zip_code.to_s %>
        <% unless address.plus_four_code.blank? %>
          <%= " - " + address.plus_four_code.to_s %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Address Type:</td>
      <td><%= address.address_type %></td>
    </tr>
  </table>
</div>
<div id = "edit_add<%= address.id %>_div" class = "sub-item-form" style = "display: none;">
  <div class = "sub-item-form-title">  
    <div>
	  <h3>Edit Address</h3>
    </div>
    <div class = "mini-icon-bar">
      <% if can? :update, Address %>
        <div>  
          <%= link_to link_to image_tag("mini_show_button_icon.png", title: "Show Address", alt: "Show Isurance"),
          '#ShowAddress', onclick: onClick="ShowEditAddress#{address.id}DIV(); return false;"; %>    
        </div>
      <% end %>
      <% if can? :delete, Address %>
        <div>
          <%= link_to link_to image_tag("mini_delete_button_icon.png", title: "Delete Address", alt: "Delete Address"),
          :controller => "addresses", :action => "destroy", method: :delete, data: { confirm: 'Are you sure you wish to delete this Address?' } %>
        </div>
      <% end %>
    </div>
  </div>
  <%= form_for [@able, address] do |f| %>
    <div class = "basic-form">
      <%= render "addresses/fieldsets", f:f %>
    </div>
    <div class = "basic-form-save-button">
      <%= image_submit_tag("save_button_icon.png", :title => "Save Address", :alt => "Save Address") %>
    </div>
  <% end %>
</div>
