<script type="text/javascript">
<!--
function AddAddressDIV() {
	var add = add_address_div
	if (add.style.display=="none")
		add.style.display="block";
	else
		add.style.display="none";
}
//-->
</script>
<div class = "mini-icon-bar" style = "margin: 4px 0; text-align: center; width: 100px;">
  <% if can? :create, Address %>
	<div>  
	  <%= link_to link_to image_tag("mini_add_button_icon.png", title: "Add Address", alt: "Add Address"),
	  '#AddAddress', onclick: onClick="AddAddressDIV(); return false;"; %>    
	</div>
	Address
  <% end %>
</div>
<div id = "add_address_div" class = "poly-sub-item-form" style = "display: none;">
  <div class = "sub-item-form-title">  
    <div>
	  <h3>-Add Address-</h3>
    </div>
    <div class = "mini-icon-bar">
      <% if can? :read, Address %>
        <div>  
          <%= link_to link_to image_tag("mini_delete_button_icon.png", title: "Cancel Add Address", alt: "Cancel Add Address"),
          '#AddAddress', onclick: onClick="AddAddressDIV(); return false;"; %>
        </div>
      <% end %>
    </div>
  </div>
  <%= form_for ([@ablec, Address.new]) do |f| %>
    <div class = "basic-form">
      <fieldset>
          <legend>Address Form</legend>
	      <div>
	        <%= f.hidden_field :addressable_id, :value => @ablec.id %>
	        <%= f.hidden_field :addressable_type, :value => controller_name.classify %>
	        <%= f.label :address_type, "Address Type:" %>
	        <br>
	        <%= f.select :address_type, options_for_select(["Primary","Secondary"]),
	        {:prompt => "Select a Type"}, {:style => "width: 206px;"} %>
	      </div>
	      <div>
            <%= f.label :address_line_one, "PIP Contact Address:" %>
            <br>
            <%= f.text_field :address_line_one, {:style => "width: 345px;"} %>
            <br>
            <%= f.text_field :address_line_two, {:style => "width: 345px;"} %>
             <br>
            <%= f.text_field :address_line_three, {:style => "width: 345px;"} %>
            <%= f.text_field :country, {:value => "United States of America", :hidden => true} %>
	      </div>
	      <div>
	        <div style = "display: inline-block;">
	          <%= f.label :city, "City:"%>
	          <br>
	          <%= f.text_field :city, {:style => "width: 180px;"} %>
	        </div>
	        <div style = "display: inline-block;">
	          <%= f.label :state, "State:"%>
	          <br>
	          <%= f.text_field :state, {:maxlength => 2, :style => "width: 40px;"} %>
	        </div>
	        <div style = "display: inline-block;">
	          <%= f.label :zip_code, "ZIP:"%>
	          <br>
	          <%= f.text_field :zip_code, {:maxlength => 5, :style => "width: 52px;"} %>
	        </div>
	        <div style = "display: inline-block;">
	          <%= f.label :plus_four_code, "+4:" %>
	          <br>
	          <%= f.text_field :plus_four_code, {:maxlength => 4, :style => "width: 40px"} %>
	        </div>
	      </div>
        </fieldset>
	  </div>
	  <div class = "basic-form-save-button">
	    <%= image_submit_tag("save_button_icon.png", :title => "Save Insurance Company", :alt => "Save Insurance Company") %>
	  </div>
	<% end %>
  <p>
    <br>
  </p>
</div>
