<h1><%= @insurance_carrier.company_name %></h1>
<div>
  <div id = "form-control-bar" class = "basic-icon-bar"> 
	<% if can? :read, InsuranceCarrier %>
      <div>
        <%= link_to image_tag("back_button_icon.png", title: "Back to Index", alt: "Back to Index"),
        insurance_carriers_path %>
      </div>
	<% end %> 
	<% if can? :update, InsuranceCarrier %>
      <div id = "control-two">  
        <%= link_to image_tag("edit_button_icon.png", title: "Edit Insurance Carrier", alt: "Edit Insurance Carrier"),
        '#EditInsuranceCarrier', onclick: onClick="SwitchOneAndTwo(); return false;"; %>    
      </div>
	<% end %>
	<% if can? :delete, InsuranceCarrier %>
      <div>
        <%= link_to image_tag("delete_button_icon.png", title: "Delete Insurance Carrier", alt: "Delete Insurance Carrier"),
        insurance_carrier_path(@insurance_carrier), method: :delete, data: { confirm: 'Are you sure you wish to delete this InsuranceCarrier?' } %>
      </div>
	<% end %>
	<% if can? :read, InsuranceCompany %>
      <div id = "control-four">
        <%= link_to image_tag("insurance_button_icon.png", title: "Show Insurance Group", alt: "Show Insurance Group"),
        '#ShowInsurance', onclick: onClick="SlideOutThreeOrSwitchForFour(); return false;"; %>
	  </div>
	<% end %>
	<table class = "data-counter" style = "margin-left: 3px; margin-top: 1px;">
	  <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>(<%= @insurance_carrier.insurance_companies.count %>)</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
	  </tr>
	</table>
  </div>
  <div class = "sliding-plate">
	<div id = "plate-one" >
	  <div>
	    <h2>- Insurance Carrier Key Data -</h2>
	    <table>
		  <tr> 
            <td>Carrier ID:</td>
            <td><%= @insurance_carrier.id %></td>
		  </tr>
		  <tr> 
            <td>Company Name:</td>
            <td><%= @insurance_carrier.company_name %></td>
		  </tr>
		  <tr> 
            <td>Corporate Representative:</td>
            <td>
              <%= @insurance_carrier.corporate_rep_prefix << " " <<
              @insurance_carrier.corporate_rep_first_name << " " <<
              @insurance_carrier.corporate_rep_middle_name << " " <<
              @insurance_carrier.corporate_rep_last_name << " " <<
              @insurance_carrier.corporate_rep_suffix %>
            </td>
          </tr>
          <tr>  
		    <td>Address:</td>
		    <td>
			  <%= @insurance_carrier.address_line_one %>
			  <% unless @insurance_carrier.address_line_two.nil? %>
			    <br>
			    <%= @insurance_carrier.address_line_two %>
			  <% end %>
			  <% unless @insurance_carrier.address_line_three.nil? %>
			    <br>
			    <%= @insurance_carrier.address_line_three %>
			  <% end %>
		    </td>
		  </tr>
		  <tr>
		    <td>City:</td>
		    <td><%= @insurance_carrier.city %></td>
		  </tr>
		  <tr>
		    <td>State:</td>
		    <td><%= @insurance_carrier.state %></td>
		  </tr>
		  <tr>
		    <td>ZIP Code:</td>
		    <td>
		      <%= @insurance_carrier.zip_code %>
		      <% unless @insurance_carrier.plus_four_code.nil? %>
		        <%= " " << @insurance_carrier.plus_four_code %>
		      <% end %>
		    </td>
		  </tr>
		  <tr>  
		    <td>Phone Number:</td>
		    <td>
			  <%= "(" << @insurance_carrier.area_code << ") " << 
			  @insurance_carrier.exchange << " - " << @insurance_carrier.suffix %>
			  <% unless @insurance_carrier.extension.nil? %>
			    <%= " Ext. " << @insurance_carrier.extension %>
			  <% end %>
		    </td>
		  </tr>
          <tr>  
		    <td>Fax Number:</td>
		    <td>
			  <%= "(" << @insurance_carrier.fax_area_code << ") " << 
			  @insurance_carrier.exchange << " - " << @insurance_carrier.suffix %>
		    </td>
		  </tr>
		  <tr>
		    <td>E-Mail Address:</td>
		    <td><%= @insurance_carrier.email_address %></td>
		  </tr>
	    </table>
	  </div>
	</div>
	<div id = "plate-two" style = "display: block; height: 0; margin-left: 380px; opacity: 0; width: 0;">
	  <div>
	    <h2>- Edit InsuranceCarrier -</h2>
	    <%= render 'form' %>
	  </div>
	</div>
  </div>
</div>
<div class = "sliding-plate">
  <div id = "plate-three" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
	    <% if can? :read, InsuranceCompany %>
          <div>
		    <%= link_to image_tag("back_button_icon.png", title: "Close Insurance Group", alt: "Close Insurance Group"),
		    '#CloseInsurance', onclick: onClick="SlideOutThreeOrSwitchForFour(); return false;"; %>
	      </div>
	    <% end %>
	    <% if can? :create, InsuranceCompany %>
	      <div>
		    <%= link_to image_tag("add_button_icon.png", title: "Add Insurance Co.", alt: "Add Insurance Co."),
		    '#AddInsurance', onclick: onClick="SlideOutFourOrSwitchForThree(); return false;"; %>
	      </div>
	    <% end %>
      </div>
      <div>
	    <h2>- Companies in Carrier Group (<%= @insurance_carrier.insurance_companies.count %>)-</h2>
        <%= render @insurance_carrier.insurance_companies %>
      </div>
    </div>
  </div>
</div>
<div class = "sliding-plate">  
  <div id = "plate-four" style = "height: 0; opacity: 0; width: 0;">
    <div>
      <div class = "inner-icon-bar">
        <% if can? :read, InsuranceCompany %>
	      <div>
            <%= link_to image_tag("back_button_icon.png", title: "Close Insurance Group", alt: "Close Insurance Group"),
            '#CloseInsurance', onclick: onClick="SlideOutFourOrSwitchForThree(); return false;"; %>
          </div>
        <% end %>
        <% if can? :create, InsuranceCompany %>
          <div>
            <%= link_to image_tag("insurance_button_icon.png", title: "Show Insurance", alt: "Show Insurance"),
            '#ShowInsurance', onclick: onClick="SlideOutThreeOrSwitchForFour(); return false;"; %>
          </div>
        <% end %>
	  </div>
	  <h2>- Add New Insurance Company -</h2>
	  <div>
	    <%= render "insurance_companies/form" %>
	  </div>
    </div>
  </div>
</div>
