<fieldset>
  <legend>Vehicle Data</legend>
  <div>
    <div style = "display: inline-block">
      <%= f.label :year, "Year:" %>
      <br>
      <%= f.text_field :year, {:maxlength => 4, :style => "width: 78px;"} %>
    </div>
    <div style = "display: inline-block">
      <%= f.label :make, "Make:" %>
      <br>
      <%= f.text_field :make, :style => "width: 78px;" %>
    </div>
    <div style = "display: inline-block">
      <%= f.label :model, "Model:" %>
      <br>
      <%= f.text_field :model, :style => "width: 78px;" %>
    </div>
    <div style = "display: inline-block">
      <%= f.label :color, "Color:" %>
      <br>
      <%= f.text_field :color, :style => "width: 78px;" %>
    </div>
  </div>
  <div>
    <%= f.label :current_mileage, "Current Mileage:" %>
    <br>
    <%= f.text_field :current_mileage, :style => "width:170px;" %>
  </div>
  <div>
    <%= f.label :vin_no, "VIN No.:" %>
    <br>
    <%= f.text_field :vin_no, :style => "width: 170px" %>
  </div>
  <div>
    <%= f.check_box :keep %>
    <%= f.label :keep, "Check if Client Wants to Keep Vehicle" %>
  </div>
</fieldset>
<fieldset>
  <legend>Purchase Information</legend>
  <div>
    <%= f.label :ownership_type, "Ownership:" %>
    <br>
    <%= f.select :ownership_type, options_for_select(["Owned", "Leased", "Financed"],
    :selected => f.object.ownership_type), {:prompt => "Select"}, {:style => "width: 170px"} %>
  </div>
  <div>
    <%= f.label :bank, "Financer (If Applicable):" %>
    <br>
    <%= f.text_field :bank, :style => "width: 346px;" %>
  </div>
  <div>
    <%= f.label :account_no, "Account No.:" %>
    <br>
    <%= f.text_field :account_no, :style => "width: 346px;" %>
  </div>
  <div>
    <%= f.label :balance_owed, "Balance Owed on Vehicle:" %>
    <br>
    <%= f.text_field :balance_owed, {:style => 'width: 170px;'} %>
  </div>
</fieldset>
