<script type="text/javascript">
<!--
function AddEmailDIV() {
	var add = add_email_div
	if (add.style.display=="none")
		add.style.display="block";
	else
		add.style.display="none";
}
//-->
</script>
<div class = "mini-icon-bar" style = "margin: 4px 0; text-align: center; width: 100px;">
  <% if can? :create, EmailAddress %>
	<div>  
	  <%= link_to link_to image_tag("mini_add_button_icon.png", title: "Add E-Mail Address", alt: "Add E-Mail Address"),
	  '#AddEmail', onclick: onClick="AddEmailDIV(); return false;"; %>    
	</div>
	E-Mail
  <% end %>
</div>
<div id = "add_email_div" class = "poly-sub-item-form" style = "display: none;">
  <div class = "sub-item-form-title">  
    <div>
	  <h3>-Add E-Mail-</h3>
    </div>
    <div class = "mini-icon-bar">
      <% if can? :read, EmailAddress %>
        <div>  
          <%= link_to link_to image_tag("mini_delete_button_icon.png", title: "Cancel Add E-Mail", alt: "Cancel Add E-Mail"),
          '#AddEmail', onclick: onClick="AddEmailDIV(); return false;"; %>
        </div>
      <% end %>
    </div>
  </div>
  <%= form_for ([@ablec, EmailAddress.new]) do |f| %>
    <div class = "basic-form">
      <fieldset>
        <legend>EmailAddress Form</legend>
	    <%= f.hidden_field :emailable_id, :value => @ablec.id %>
	    <%= f.hidden_field :emailable_type, :value => controller_name.classify %>
	    <div style = "display: inline-block;">
		  <%= f.label :address, "E-Mail Address:" %>
		  <br>
		  <%= f.text_field :address, :style => "width: 252px" %>
	    </div>
	    <div style = "display: inline-block;">
		  <%= f.label :address_type, "Type:" %>
		  <br>
		  <%= f.select :address_type, options_for_select(["Personal", "Work", "Other"]), {:style => "width: 92px;"} %>
	    </div>
      </fieldset>
    </div>
    <div class = "basic-form-save-button">
      <%= image_submit_tag("save_button_icon.png", :title => "Save E-Mail Address", :alt => "Save E-Mail Address") %>
    </div>
  <% end %>
  <p>
    <br>
  </p>
</div>
